<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>

<body>
    <div class="bg-gray-100">
        <div class="max-w-screen-lg px-4 sm:px-6 text-gray-800 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto">
            <div class="p-1">
                <h3 class="font-extrabold text-xl text-black">Woodsthetics</h3>
            </div>
            <div class="p-5">
                <div class="text-sm uppercase text-black font-bold">Resources</div>
                <a class="my-3 block" href="/#">Documentation <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href="/#">Tutorials <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href="/#">Support <span class="text-teal-600 text-xs p-1">New</span></a>
            </div>
            <div class="p-5">
                <div class="text-sm uppercase text-black font-bold">Support</div>
                <a class="my-3 block" href="/#">Help Center <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href="/#">Privacy Policy <span class="text-teal-600 text-xs p-1"></span></a>
                <a class="my-3 block" href="/#">Conditions <span class="text-teal-600 text-xs p-1"></span></a>
            </div>
            <div class="p-5">
                <div class="text-sm uppercase text-black font-bold">Contact us</div>
                <a class="my-3 block" href="/#">Woodsthetics,
                    Elegant Avenue
                    Trivandrum, Kerala
                    PIN: 695001
                    India
                    <span class="text-teal-600 text-xs p-1"></span>
                </a>
                <a class="my-3 block" href="/#">woodsthetics@gmail.com
                    <span class="text-teal-600 text-xs p-1"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-gray-100 pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5 border-t text-gray-800 text-sm flex-col max-w-screen-lg items-center">
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a href="/#" class="w-6 mx-1">
                    <svg class="fill-current cursor-pointer text-gray-500 hover:text-indigo-600" width="100%"
                        height="100%" viewBox="0 0 24 24">
                        <!-- Twitter SVG Path -->
                    </svg>
                </a>
                <a href="/#" class="w-6 mx-1">
                    <svg class="fill-current cursor-pointer text-gray-500 hover:text-indigo-600" width="100%"
                        height="100%" viewBox="0 0 24 24">
                        <!-- Facebook SVG Path -->
                    </svg>
                </a>
                <a href="/#" class="w-6 mx-1">
                    <svg class="fill-current cursor-pointer text-gray-500 hover:text-indigo-600" width="100%"
                        height="100%" viewBox="0 0 24 24">
                        <!-- LinkedIn SVG Path -->
                    </svg>
                </a>
                <a href="/#" class="w-6 mx-1">
                    <svg class="fill-current cursor-pointer text-gray-500 hover:text-indigo-600" width="100%"
                        height="100%" viewBox="0 0 24 24">
                        <!-- Instagram SVG Path -->
                    </svg>
                </a>
            </div>
            <div class="my-5">© Copyright 2023. All Rights Reserved.</div>
        </div>
    </div>

</body>

</html>