<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/output.css">
</head>

<body>

  <%-include('navbar')%>

    <!-- form -->
    <form action="/" method="POST">
      <div class="min-h-screen bg-white flex justify-center items-center">

        <div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
          <div>
            <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">Login</h1>
            <p class="w-80 text-center text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer"></p>
          </div>

          <% if(error) { %>
            <p class="error" style="color: red;">
              <%= error %>
            </p>
            <%} %>


          <div class="space-y-4">
            <input type="text" id="username" name="email" placeholder="Email" value="ashikms1998@gmail.com"
              class="block text-sm py-3 px-4 rounded-lg w-full border outline-none" required />
            <input type="password" id="password" name="password" placeholder="Password" value="Ashik@123"
              class="block text-sm py-3 px-4 rounded-lg w-full border outline-none" required />
          </div>

          <% if (locals.message) { %>
            <div class="alert alert-danger text-center error">
              <strong style="color: red;">
                <%= message %>
              </strong>
            </div>
            <% } %>
              <p class="error" style="color: red;"></p>
              <div class="text-right mt-2">
                <a href="/forgotpassword"
                    class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700">Forgot
                    Password?</a>
            </div>
              <div class="text-center mt-6">
                <button id="submit"
                  class="py-3 w-64 text-xl font-sans font-extrabold text-neutral-950 bg-purple-400 rounded-2xl"
                  type="submit">Login</button>
                <p class="mt-4 text-sm">Don't Have An Account? <span class="underline cursor-pointer"><a
                      href="/signup">Sign Up</a></span>
                </p>
              </div>
        </div>
      </div>
    </form>
    <!-- form -->
</body>
<script>
  // Form validation logics
  const username = document.getElementById("username");
  const password = document.getElementById("password");
  const submit = document.getElementById("submit");
  const error = document.querySelector(".error");


  //Form validation

  submit.addEventListener("click", (e) => {

    console.log('submit button is clicked')
    let n = username.value.trim();
    let pass = password.value;
    let message = [];

    // Name validation

    let validateName = (trimmed) => {
      // Check if the length is at least 3 characters and does not contain '*'
      if (trimmed.length >= 3 && !trimmed.includes('*')) {
        return true;
      }
      return false;
    };

    //Password Validation

    let validatePassword = (pass) => {
      const symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
      const lowercaseRegex = /[a-z]+/;
      const uppercaseRegex = /[A-Z]+/;
      const numericRegex = /\d+/;


      const hasSymbol = symbolRegex.test(pass);
      const hasLowercase = lowercaseRegex.test(pass);
      const hasUppercase = uppercaseRegex.test(pass);
      const hasNumeric = numericRegex.test(pass);

      return hasSymbol && hasLowercase && hasUppercase && hasNumeric;
    };


    if (n.length === 0) message.push("Enter username");
    else if (!validateName(n)) message.push("Invalid name");
    else if (pass.length === 0) message.push("Enter the password");
    else if (!validatePassword(pass))
      message.push(
        "Password must contain a symbol, uppercase letter, and a number"
      );


    if (message.length > 0) {
      e.preventDefault();
      error.textContent = message.join("");
    } else {
      error.textContent = '';
    }
  });
</script>

</html>