<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
    <%-include ('navbar') %>

<div class="py-12">

    <!-- Desktop Responsive Start -->
    <div class="hidden sm:flex flex-col justify-start items-start">

        <div class="container flex flex-col items-start justify-center p-6 mx-auto md:flex-row">
            <h1 class="text-xl leading-9 flex items-center mb-4 font-extrabold text-gray-900 title-font md:mb-0 ">WISHLIST</h1>
            
        </div>

        <table class="w-full mt-16 whitespace-nowrap">
            <thead aria-label="table heading" class="w-full h-16 text-left py-6 bg-gray-50 border-gray-200 dark:bg-gray-800 border-b">
                <tr>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white 2xl:pl-20 pl-4 lg:pl-10">YOUR PRODUCT</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">DESCRIPTION</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">PRICE</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white pl-6 lg:pl-20 2xl:pl-52">MORE OPTIONS</th>
                    <th class="text-base font-medium leading-4 text-gray-600 dark:text-white 2xl:pl-28 2xl:pr-20 pr-4 lg:pr-10"></th>
                </tr>
            </thead>
            <tbody class="w-full text-left">

                <!-- Repeat this block for each table row -->
                <tr class="border-gray-200 border-b">
                    <th>
                        <img class="my-10 pl-4 lg:pl-10 2xl:pl-20" src=" " alt="" />
                    </th>
                    <th class="mt-10 text-base font-medium leading-4 text-gray-600 pl-6 lg:pl-20 2xl:pl-52">
                        <p class="text-base leading-4 text-gray-800 dark:text-white">name</p>
                    </th>
                    <th class="my-10 pl-6 lg:pl-20 2xl:pl-52">
                        <p class="dark:text-white">price</p>
                    </th>
                    <th class="my-10 text-base font-medium leading-4 text-gray-600 pl-6 lg:pl-20 2xl:pl-52">
                        <a href="javascript:void(0)" class="hover:underline text-base font-medium leading-none text-gray-800 dark:text-white focus:outline-none focus:underline">View details</a>
                    </th>
                    <th class="my-10 pl-4 lg:pl-12 2xl:pl-28 pr-4 2xl:pr-20">
                        <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-800 text-base leading-none text-red-600 hover:text-red-800"><p>Remove Item</p></button>
                    </th>
                </tr>
                <!-- End of table row block -->

            </tbody>
        </table>
    </div>
    <!-- Desktop Responsive End -->

    <!-- Mobile Responsive Start -->
    <div class="flex justify-center items-center">

        <div class="sm:hidden flex flex-col justify-start items-start">

            <!-- Repeat this block for each mobile item -->
            <div class="border-gray-200 border-b pb-10">
                <div class="px-4 flex flex-col justify-center items-start mt-10">
                    <div>
                        <img src="https://i.ibb.co/bHgJDpd/imani-bahati-Lx-Vx-PA1-LOVM-unsplash-2.png" alt="shoe" />
                    </div>
                </div>
                <div class="px-4 mt-6  w-full flex justify-center items-center">
                    <div>
                        <p class="w-36 text-base leading-6 text-gray-800 dark:text-white">Jet black sportsmen shoes</p>
                    </div>
                    <div>
                        <p class="text-base font-semibold leading-4 text-gray-800 dark:text-white">$90</p>
                    </div>
                </div>
                <div class="px-4 mt-6  w-full flex justify-center items-center">
                    <div>
                        <a href="javascript:void(0)" class="hover:underline text-base font-medium leading-none focus:outline-none focus:underline text-gray-800 dark:text-white"> View details</a>
                    </div>
                    <div>
                        <button class="focus:outline-none focus:ring-red-800 focus:ring-offset-2 focus:ring-2 text-base leading-none text-red-600 hover:text-red-800"><p>Remove Item</p></button>
                    </div>
                </div>
            </div>
            <!-- End of mobile item block -->

        </div>
    </div>
    <!-- Mobile Responsive End -->
</div>
<%-include ('footer') %>
</body>
</html>